<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="/estilos.css">
    <meta charset="UTF-8">
    <title>Crear Producto</title>
</head>
<body>

    <!-- Aquí abrimos el contenedor tipo tarjeta -->
    <div class="contenedor">
        
        <!-- Centramos el título y le damos un color acorde al diseño -->
        <h1 th:text="${titulo}" style="color: #003366; text-align: center;"></h1>

        <form th:object="${producto}" th:action="@{/Producto/guardar}" method="post">
            
            <label for="nombre">Nombre del Producto:</label>
            <input type="text" th:field="*{nombre}" id="nombre" placeholder="Ej: Teclado mecánico"> 

            <label for="precio">Precio:</label>
            <input type="number" th:field="*{precio}" id="precio" step="0.01" placeholder="Ej: 150000"> 

            <!-- Este botón ya tomará el estilo azul y el efecto hover gracias a la etiqueta <button> -->
            <button type="submit">Guardar en Base de Datos</button>

        </form>
        
    </div>
    <!-- Aquí cerramos el contenedor -->

</body>
</html>