<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <link rel="stylesheet" th:href="@{/estilos.css}">
</head>
<body>
    <div th:replace="~{menu :: navbar}"></div>
    <main class="contenedor">
        <h2>Mis Datos Personales</h2>
        <p class="alert alert-info" th:if="${mensajeInfo}" th:text="${mensajeInfo}"></p>
        <form th:action="@{/Cliente/guardar}" th:object="${cliente}" method="post">
            <input type="hidden" th:field="*{id}">
            <label>Correo electrónico</label>
            <input type="email" th:field="*{correo}" readonly>
            <label>Nombre</label>
            <input type="text" th:field="*{nombre}" required>
            <label>Apellido</label>
            <input type="text" th:field="*{apellido}" required>
            <button type="submit" class="btn-ok">Guardar datos</button>
        </form>
        <div style="text-align: center; margin-top:15 px">
            <a th:href="@{/compra}" style="color: #4f46e5; text-decoration: none; font-weight: bold;">
                ← Volver a la tienda
            </a>
        </div>
    </main>
</body>
</html>
